@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset #161530;
  background-color: #161530;
  border-radius: 30px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #161530;
  border-radius: 30px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(27, 52, 102)), color-stop(0.72, rgb(39, 83, 136)), color-stop(0.86, rgb(31, 39, 66)));
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  background-image: url("../img/worldbackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  background-color: rgba(18, 21, 39, 0.86);
  height: 100vh;
}
body.inactive {
  overflow: hidden;
}
body .load {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
  left: -100vw;
  font-size: 100px;
  font-weight: bold;
  font-family: "Poiret One", cursive;
  animation: slide-in-out 3s ease-in-out 0s forwards;
}
@keyframes slide-in-out {
  0% {
    left: -100vw;
  }
  15% {
    left: calc(50% - 50vw);
  }
  85% {
    left: calc(50% - 50vw);
  }
  100% {
    left: calc(100% + 100vw);
  }
}
body .load img {
  width: 300px;
}
body div.root {
  position: relative;
}
body div.App {
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 95%;
  max-width: 1024px;
  height: 95vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(16, 17, 83, 0.662745098);
  overflow: hidden;
  border-radius: 50px;
  font-weight: 500;
  box-shadow: 1px 1px 7px 13px rgba(0, 0, 0, 0.603);
  position: relative;
  color: white;
}
body div.App header {
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
}
body div.App header .header__title {
  margin: 0 auto;
  width: 400px;
  min-width: 400px;
}
body div.App header .header__title-box {
  width: 350px;
  padding: 10px;
  margin: 0 auto;
  background-color: rgba(8, 8, 56, 0.827);
  font-family: "Poiret One", cursive;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 4px 4px 2px black;
  color: #f0f4ef;
  border: 3px groove white;
  border-radius: 40px;
  box-shadow: 4px 4px 12px 0px rgb(66, 68, 90);
}
@media screen and (max-width: 430px) {
  body div.App header .header__title {
    width: auto;
    min-width: auto;
  }
  body div.App header .header__title-box {
    width: 230px;
    font-size: 30px;
  }
}
body div.App header .header__detail {
  flex-grow: 1;
}
body div.App header .header__detail-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}
body div.App header .header__detail-box img {
  height: 72px;
}
@media screen and (max-width: 1080px) {
  body div.App header .header__detail-box {
    padding: 0 50px 0 30px;
    justify-content: center;
    gap: 50px;
  }
  body div.App header .header__detail-box h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  body div.App header .header__detail-box {
    padding: 0;
    gap: 0;
    flex-direction: column-reverse;
  }
  body div.App header .header__detail-box h1 {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
  }
}
@media screen and (max-width: 550px) and (max-width: 340px) {
  body div.App header .header__detail-box h1 {
    font-size: 13px;
  }
}
@media screen and (max-width: 550px) and (max-width: 300px) {
  body div.App header .header__detail-box h1 {
    font-size: 12px;
  }
}
@media screen and (max-width: 550px) {
  body div.App header .header__detail-box p {
    font-size: 12px;
    text-align: center;
  }
}
body div.App .main {
  margin: 0px 0 20px;
  padding: 20px 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  height: calc(95vh - 112px);
}
body div.App .main.flag-selected {
  height: calc(95vh - 157px);
}
body div.App .main .main__select {
  width: 30%;
  min-width: 300px;
  height: 100%;
}
@media screen and (max-width: 670px) {
  body div.App .main .main__select {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    height: 35px;
    width: 170px;
    min-width: auto;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    border-radius: 20px;
    background-color: #3d386d;
    z-index: 1;
  }
}
@media screen and (max-width: 430px) {
  body div.App .main .main__select {
    top: 111px;
  }
}
body div.App .main .main__select-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
}
body div.App .main .main__select-box__selectors {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 670px) {
  body div.App .main .main__select-box__selectors {
    padding: 0px 0 0 0;
  }
}
body div.App .main .main__select-box__selectors .selectors__description {
  width: 100%;
  text-align: center;
}
body div.App .main .main__select-box__selectors .selectors__input {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  height: 34px;
  min-height: 34px;
  border: none;
  background-color: rgba(126, 120, 163, 0.368627451);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #fff;
}
body div.App .main .main__select-box__selectors button {
  font-family: "Lato", sans-serif;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  color: #ccc;
  cursor: pointer;
  transition: 0.2s;
}
body div.App .main .main__select-box__selectors button:hover {
  box-shadow: 0 0 10px 4px #8a8989;
}
body div.App .main .main__select-box__selectors button.active {
  box-shadow: 0 0 10px 4px #8a8989;
}
body div.App .main .main__select-box__selectors .selectors__colors {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
}
body div.App .main .main__select-box__selectors .selectors__colors-description {
  width: 100%;
  text-align: center;
}
body div.App .main .main__select-box__selectors .selectors__colors__button-box {
  text-align: center;
}
body div.App .main .main__select-box__selectors .selectors__colors__button-box button {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  border-radius: 50%;
}
body div.App .main .main__select-box__selectors .selectors__colors__button-box button.black {
  background-color: black;
}
body div.App .main .main__select-box__selectors .selectors__colors__button-box button.red {
  background-color: #e74c3c;
}
body div.App .main .main__select-box__selectors .selectors__colors__button-box button.yellow {
  background-color: #f1c40f;
}
body div.App .main .main__select-box__selectors .selectors__colors__button-box button.blue {
  background-color: #55acee;
}
body div.App .main .main__select-box__selectors .selectors__colors__button-box button.green {
  background-color: #2ecc71;
}
body div.App .main .main__select-box__selectors .selectors__colors__button-box button.orange {
  background-color: #e67e22;
}
@media screen and (max-width: 320px) {
  body div.App .main .main__select-box__selectors .selectors__colors {
    max-width: 200px;
  }
  body div.App .main .main__select-box__selectors .selectors__colors__button-box button {
    height: 40px;
    width: 40px;
  }
}
body div.App .main .main__select-box__selectors .selectors__stripes {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 260px;
}
body div.App .main .main__select-box__selectors .selectors__stripes-description {
  width: 100%;
  text-align: center;
}
body div.App .main .main__select-box__selectors .selectors__stripes__button-box {
  display: flex;
  justify-content: center;
}
body div.App .main .main__select-box__selectors .selectors__stripes__button-box button {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}
body div.App .main .main__select-box__selectors .selectors__stripes__button-box button.vertical {
  background: rgb(135, 131, 167);
  background: linear-gradient(90deg, rgb(135, 131, 167) 15%, rgb(1, 1, 4) 15%, rgb(1, 1, 4) 42%, rgb(135, 131, 167) 42%, rgb(135, 131, 167) 58%, rgb(1, 1, 4) 58%, rgb(1, 1, 4) 85%, rgb(135, 131, 167) 85%, rgb(135, 131, 167) 100%);
  border-radius: 50%;
}
body div.App .main .main__select-box__selectors .selectors__stripes__button-box button.horizontal {
  background: rgb(135, 131, 167);
  background: linear-gradient(0deg, rgb(135, 131, 167) 15%, rgb(1, 1, 4) 15%, rgb(1, 1, 4) 42%, rgb(135, 131, 167) 42%, rgb(135, 131, 167) 58%, rgb(1, 1, 4) 58%, rgb(1, 1, 4) 85%, rgb(135, 131, 167) 85%, rgb(135, 131, 167) 100%);
  border-radius: 50%;
}
body div.App .main .main__select-box__selectors .selectors__stripes__button-box button.other-shapes {
  position: relative;
  background: linear-gradient(to bottom, rgba(126, 120, 163, 0.368627451) 0%, rgba(126, 120, 163, 0.368627451) 50%);
  font-size: 16px;
}
body div.App .main .main__select-box__selectors .selectors__stripes__button-box button.other-shapes p {
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body div.App .main .main__select-box__selectors .selectors__stripes__button-box button.symbols {
  position: relative;
  width: 70px;
  background: linear-gradient(to bottom, rgba(126, 120, 163, 0.368627451) 0%, rgba(126, 120, 163, 0.368627451) 50%);
  font-size: 16px;
}
body div.App .main .main__select-box__selectors .selectors__stripes__button-box button.symbols p {
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 320px) {
  body div.App .main .main__select-box__selectors .selectors__stripes {
    max-width: 140px;
  }
  body div.App .main .main__select-box__selectors .selectors__stripes__button-box {
    flex-wrap: wrap;
    gap: 5px;
  }
  body div.App .main .main__select-box__selectors .selectors__stripes__button-box button {
    height: 40px;
    width: 40px;
  }
}
body div.App .main .main__select-box__selectors .selectors__region {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body div.App .main .main__select-box__selectors .selectors__region__button-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
@media screen and (max-width: 1080px) {
  body div.App .main .main__select-box__selectors .selectors__region__button-box {
    gap: 2px;
  }
}
body div.App .main .main__select-box__selectors .selectors__region__button-box button {
  width: auto;
  padding: 10px;
  height: 30px;
  background: linear-gradient(to bottom, rgba(126, 120, 163, 0.368627451) 0%, rgba(126, 120, 163, 0.368627451) 50%);
}
body div.App .main .main__select-box__selectors .selectors__region__button-box button p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
body div.App .main .main__select-box__selectors .selectors__region__button-box select {
  background-color: rgba(126, 120, 163, 0.368627451);
  color: #999;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
body div.App .main .main__select-box__selectors .selectors__region__button-box select option {
  background-color: #3d386e;
  color: #999;
  padding: 5px;
  cursor: pointer;
}
body div.App .main .main__select-box__selectors .selectors__region__button-box__selector .Select-option {
  cursor: pointer;
}
@media screen and (max-width: 670px) {
  body div.App .main .main__select-box__selectors .selectors__region {
    max-width: 310px;
  }
}
body div.App .main .main__select-box__selectors .selectors__other {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
body div.App .main .main__select-box__selectors .selectors__other button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(126, 120, 163, 0.368627451) 0%, rgba(126, 120, 163, 0.368627451) 50%);
  font-size: 18px;
  padding: 12px 20px;
}
@media screen and (max-width: 1080px) {
  body div.App .main .main__select-box__selectors .selectors__other button.other.countries {
    font-size: 17px;
  }
}
body div.App .main .main-list {
  width: 70%;
  height: 100%;
}
@media screen and (max-width: 670px) {
  body div.App .main .main-list {
    width: 100%;
  }
}
body div.App .main .main-list__full-list {
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 5px;
  height: auto;
  justify-content: space-between;
  max-height: 100%;
}
@media screen and (max-width: 670px) {
  body div.App .main .main-list__full-list {
    padding-top: 40px;
    width: 100%;
  }
}
@media screen and (max-width: 300px) {
  body div.App .main .main-list__full-list {
    justify-content: center;
  }
}
body div.App .main .main-list__full-list .full-list__preloader-box {
  height: 200px;
  width: 100%;
}
body div.App .main .main-list__full-list .full-list__preloader-box-preloader {
  margin: 80px auto 0;
  font-size: 70px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: animation 1.7s infinite ease;
}
@keyframes animation {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #f34a53, 0 -0.83em 0 -0.42em #f34a53, 0 -0.83em 0 -0.44em #f34a53, 0 -0.83em 0 -0.46em #f34a53, 0 -0.83em 0 -0.477em #f34a53;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em #f34a53, 0 -0.83em 0 -0.42em #f34a53, 0 -0.83em 0 -0.44em #f34a53, 0 -0.83em 0 -0.46em #f34a53, 0 -0.83em 0 -0.477em #f34a53;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em #f34a53, -0.087em -0.825em 0 -0.42em #f34a53, -0.173em -0.812em 0 -0.44em #f34a53, -0.256em -0.789em 0 -0.46em #f34a53, -0.297em -0.775em 0 -0.477em #f34a53;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #f34a53, -0.338em -0.758em 0 -0.42em #f34a53, -0.555em -0.617em 0 -0.44em #f34a53, -0.671em -0.488em 0 -0.46em #f34a53, -0.749em -0.34em 0 -0.477em #f34a53;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #f34a53, -0.377em -0.74em 0 -0.42em #f34a53, -0.645em -0.522em 0 -0.44em #f34a53, -0.775em -0.297em 0 -0.46em #f34a53, -0.82em -0.09em 0 -0.477em #f34a53;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #f34a53, 0 -0.83em 0 -0.42em #f34a53, 0 -0.83em 0 -0.44em #f34a53, 0 -0.83em 0 -0.46em #f34a53, 0 -0.83em 0 -0.477em #f34a53;
  }
}
body div.App .main .main-list__full-list .smallitem {
  display: block;
  max-width: 100px;
  max-height: 50px;
  border: 3px groove black;
  margin: 5px;
}
body div.App .main .main-list__full-list .smallitem:hover {
  filter: brightness(50%);
  transition: 0.2s;
  cursor: pointer;
}
@media screen and (max-width: 370px) {
  body div.App .main .main-list__full-list .smallitem {
    max-width: 80px;
    max-height: 40px;
  }
}/*# sourceMappingURL=App.css.map */