@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;

  background-image: url("../img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  background-color: rgba(18, 21, 39, 0.86);
  height: 100vh;

  &.inactive {
    overflow: hidden;
    // background-color: black;
  }

  .load {
    position: absolute;
    // background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: center;
    left: -100vw;
    font-size: 100px;
    font-weight: bold;
    font-family: "Poiret One", cursive;

    animation: slide-in-out 3s ease-in-out 0s forwards;
    @keyframes slide-in-out {
      0% {
        left: -100vw;
      }
      15% {
        left: calc(50% - 50vw);
      }
      85% {
        left: calc(50% - 50vw);
      }
      100% {
        left: calc(100% + 100vw);
      }
    }
    img {
      width: 300px;
    }
  }

  div.root {
    // height: 100vh;
    position: relative;
  }

  div.App {
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 95%;
    max-width: 1024px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #101153a9;
    display: flex;
    overflow: hidden;
    border-radius: 50px;
    font-weight: 500;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.842);
    position: relative;
    color: white;

    header {
      background-color: #1c527e;
      color: #f0f4ef;
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      text-transform: uppercase;
      border-radius: 40px;
      padding: 10px;
      margin: 15px auto 0;
      width: 500px;
      border: 3px groove white;
      text-shadow: 4px 4px 2px black;

      box-shadow: 4px 4px 12px 0px rgba(66, 68, 90, 1);
    }
    .main {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      .main-select {
        width: 30%;
        .select-box {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          min-height: 250px;
          max-width: 1024px;
          margin: 0 auto;
          .selectors {
            padding-top: 10px;
            width: 60%;

            button {
              font-family: "Poiret One", cursive;
              font-weight: bold;
              background-color: #fff;
              cursor: pointer;
              transition: 0.2s;
              &:hover {
                box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
              }
              &.active {
                box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
              }
            }

            .colors {
              display: flex;
              align-items: center;
              button {
                width: 30px;
                height: 30px;
                margin: 0 5px;
                border-radius: 50%;
              }

              button.black {
                background-color: black;
              }

              button.red {
                background-color: #e74c3c;
              }

              button.yellow {
                background-color: #f1c40f;
              }

              button.blue {
                background-color: #55acee;
              }

              button.green {
                background-color: #2ecc71;
              }

              button.orange {
                background-color: #e67e22;
              }
            }
            .stripes {
              display: flex;
              align-items: center;
              button {
                width: 30px;
                height: 30px;
                margin: 0 5px;
              }

              &.vertical {
                background: rgb(255, 255, 255);
                background: linear-gradient(
                  90deg,
                  rgba(255, 255, 255, 1) 15%,
                  rgba(0, 0, 0, 1) 15%,
                  rgba(0, 0, 0, 1) 42%,
                  rgba(255, 255, 255, 1) 42%,
                  rgba(255, 255, 255, 1) 58%,
                  rgba(0, 0, 0, 1) 58%,
                  rgba(0, 0, 0, 1) 85%,
                  rgba(255, 255, 255, 1) 85%,
                  rgba(255, 255, 255, 1) 100%
                );
                border-radius: 50%;
              }
              &.horizontal {
                background: rgb(255, 255, 255);
                background: linear-gradient(
                  rgba(255, 255, 255, 1) 15%,
                  rgba(0, 0, 0, 1) 15%,
                  rgba(0, 0, 0, 1) 42%,
                  rgba(255, 255, 255, 1) 42%,
                  rgba(255, 255, 255, 1) 58%,
                  rgba(0, 0, 0, 1) 58%,
                  rgba(0, 0, 0, 1) 85%,
                  rgba(255, 255, 255, 1) 85%,
                  rgba(255, 255, 255, 1) 100%
                );
                border-radius: 50%;
              }
              &.other-shapes,
              &.symbols {
                width: auto;
              }
            }
            .region {
              display: flex;
              align-items: center;

              button {
                width: auto;
                height: 30px;
                margin: 5px 5px;
              }

              .region-buttons {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
              }
            }
            .other {
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              button {
                width: auto;
                height: 30px;
                margin: 5px 5px;
              }
            }
          }
          .detail-box {
            width: 40%;
            .detail {
              padding-left: 50px;
              p {
                font-size: 20px;
              }
              img {
                max-height: 125px;
              }
            }
          }
        }
      }
      .main-box {
        width: 70%;

        div.full-list {
          margin: 0 auto;
          height: 400px;
          max-width: 1024px;
          padding: 20px;
          display: flex;
          flex-wrap: wrap;
          overflow-y: auto;

          div.preloader {
            margin: 80px auto 0;
            font-size: 70px;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            animation: animation 1.7s infinite ease;
            @keyframes animation {
              0% {
                transform: rotate(0deg);
                box-shadow: 0 -0.83em 0 -0.4em #f34a53,
                  0 -0.83em 0 -0.42em #f34a53, 0 -0.83em 0 -0.44em #f34a53,
                  0 -0.83em 0 -0.46em #f34a53, 0 -0.83em 0 -0.477em #f34a53;
              }
              5%,
              95% {
                box-shadow: 0 -0.83em 0 -0.4em #f34a53,
                  0 -0.83em 0 -0.42em #f34a53, 0 -0.83em 0 -0.44em #f34a53,
                  0 -0.83em 0 -0.46em #f34a53, 0 -0.83em 0 -0.477em #f34a53;
              }
              10%,
              59% {
                box-shadow: 0 -0.83em 0 -0.4em #f34a53,
                  -0.087em -0.825em 0 -0.42em #f34a53,
                  -0.173em -0.812em 0 -0.44em #f34a53,
                  -0.256em -0.789em 0 -0.46em #f34a53,
                  -0.297em -0.775em 0 -0.477em #f34a53;
              }
              20% {
                box-shadow: 0 -0.83em 0 -0.4em #f34a53,
                  -0.338em -0.758em 0 -0.42em #f34a53,
                  -0.555em -0.617em 0 -0.44em #f34a53,
                  -0.671em -0.488em 0 -0.46em #f34a53,
                  -0.749em -0.34em 0 -0.477em #f34a53;
              }
              38% {
                box-shadow: 0 -0.83em 0 -0.4em #f34a53,
                  -0.377em -0.74em 0 -0.42em #f34a53,
                  -0.645em -0.522em 0 -0.44em #f34a53,
                  -0.775em -0.297em 0 -0.46em #f34a53,
                  -0.82em -0.09em 0 -0.477em #f34a53;
              }
              100% {
                transform: rotate(360deg);
                box-shadow: 0 -0.83em 0 -0.4em #f34a53,
                  0 -0.83em 0 -0.42em #f34a53, 0 -0.83em 0 -0.44em #f34a53,
                  0 -0.83em 0 -0.46em #f34a53, 0 -0.83em 0 -0.477em #f34a53;
              }
            }
          }

          .smallitem {
            display: block;
            max-width: 100px;
            max-height: 50px;
            border: 1px solid black;
            margin: 5px;
          }

          .smallitem:hover {
            filter: brightness(50%);
            transition: 0.2s;
            cursor: pointer;
          }
        }
      }
    }
  }
}
