@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital@0;1&display=swap");

$buttonColor: #7e78a35e;

@mixin stripeGradient(
  $stripesBackgroundColor: $stripesBackgroundColor,
  $stripesColor: $stripesColor,
  $deg: 0deg
) {
  background: repeating-linear-gradient(
    $deg,
    $stripesBackgroundColor,
    $stripesBackgroundColor 8px,
    $stripesColor 8px,
    $stripesColor 16px
  );
}

@mixin description-center {
  width: 100%;
  text-align: center;
}

$stripesBackgroundColor: #9592b4;
$stripesColor: #7e78a35e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset #161530;
  background-color: #161530;
  border-radius: 30px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #161530;
  border-radius: 30px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(27, 52, 102)),
    color-stop(0.72, rgb(39, 83, 136)),
    color-stop(0.86, rgb(31, 39, 66))
  );
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;

  background-image: url("../img/worldbackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  background-color: rgba(18, 21, 39, 0.86);
  height: 100vh;

  &.inactive {
    overflow: hidden;
  }

  .load {
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: center;
    left: -100vw;
    font-size: 100px;
    font-weight: bold;
    font-family: "Poiret One", cursive;

    animation: slide-in-out 3s ease-in-out 0s forwards;

    @keyframes slide-in-out {
      0% {
        left: -100vw;
      }

      15% {
        left: calc(50% - 50vw);
      }

      85% {
        left: calc(50% - 50vw);
      }

      100% {
        left: calc(100% + 100vw);
      }
    }

    &-box {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 300px;
      }
    }

    @media screen and (max-width: 500px) {
      font-size: 80px;

      img {
        width: 250px;
      }
    }

    @media screen and (max-width: 350px) {
      font-size: 50px;

      img {
        width: 150px;
      }
    }
  }

  div.root {
    position: relative;
  }

  div.App {
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 95%;
    max-width: 1024px;
    height: 95vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: #101153a9;
    overflow: hidden;
    border-radius: 50px;
    font-weight: 500;
    box-shadow: 1px 1px 7px 13px rgba(0, 0, 0, 0.603);
    position: relative;
    color: white;

    header {
      width: 100%;
      margin-top: 35px;
      display: flex;
      flex-direction: row;

      .header__title {
        margin: 0 auto;
        width: 400px;
        min-width: 400px;

        &-box {
          width: 350px;
          padding: 10px;
          margin: 0 auto;
          background-color: rgba(8, 8, 56, 0.827);
          font-family: "Poiret One", cursive;
          font-weight: bold;
          font-size: 40px;
          text-transform: uppercase;
          text-align: center;
          text-shadow: 4px 4px 2px black;
          color: #f0f4ef;
          border: 3px groove white;
          border-radius: 40px;
          box-shadow: 4px 4px 12px 0px rgba(66, 68, 90, 1);
          cursor: pointer;

          &.game {
            width: 550px;

            @media screen and (max-width: 600px) {
              font-size: 30px;
              width: 370px;
            }
            @media screen and (max-width: 450px) {
              width: 230px;
              font-size: 25px;
            }
          }
        }

        @media screen and (max-width: 430px) {
          width: auto;
          min-width: auto;

          &-box {
            width: 230px;
            font-size: 30px;
            // height: 400px;
          }
        }
      }

      .header__detail {
        flex-grow: 1;

        &-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          height: 72px;
          padding: 0 50px;

          & img {
            height: 72px;
          }
        }

        @media screen and (max-width: 1080px) {
          &-box {
            padding: 0 50px 0 30px;
            justify-content: center;
            gap: 50px;

            h1 {
              font-size: 20px;
            }
          }
        }

        @media screen and (max-width: 550px) {
          &-box {
            height: 100%;
            padding: 0;
            gap: 0;
            flex-direction: column-reverse;

            h1 {
              margin-top: 10px;
              font-size: 15px;
              text-align: center;

              @media screen and (max-width: 340px) {
                font-size: 13px;
              }

              @media screen and (max-width: 300px) {
                font-size: 12px;
              }
            }

            p {
              font-size: 12px;
              text-align: center;
            }
          }
        }
      }
    }

    .main {
      margin: 0px 0 20px;
      padding: 20px 0;
      display: flex;
      width: 100%;
      flex-direction: row;
      height: calc(95vh - 112px);

      @media screen and (max-width: 670px) {
        // height: auto;
      }

      &.flag-selected {
        height: calc(95vh - 157px);
      }

      .main__select {
        width: 30%;
        min-width: 300px;

        @media screen and (max-width: 670px) {
          position: absolute;
          top: 120px;
          left: 50%;
          transform: translateX(-50%);
          height: 35px;
          width: 170px;
          min-width: auto;
          font-size: 15px;
          text-align: center;
          line-height: 35px;
          border-radius: 20px;
          background-color: #2c1f75d8;
          z-index: 1;
          cursor: pointer;
        }

        @media screen and (max-width: 430px) {
          top: 111px;
        }

        &-box {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          margin: 0 auto;
          height: 100%;
          overflow-y: auto;

          &__selectors {
            padding: 20px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-family: "Overpass", sans-serif;

            @media screen and (max-width: 670px) {
              padding: 0px 0 0 0;
            }

            .selectors__description {
              @include description-center;
            }

            .selectors__input-box {
              position: relative;
              margin: 0 auto;

              &__input {
                width: 100%;
                max-width: 225px;
                height: 34px;
                min-height: 34px;
                border: none;
                background-color: #7e78a35e;
                border-radius: 8px;
                font-family: "Inter", sans-serif;
                font-size: 14px;
                padding: 0 40px 0 16px;
                box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
                background-size: 14px;
                background-repeat: no-repeat;
                background-position: 96%;
                color: #fff;

                &:focus {
                  outline: none;
                }
              }

              &__sugestion {
                width: 100%;
                position: absolute;
                top: 40px;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;
                background-color: #2b235fe5;
                border-radius: 10px;
                box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.603);
                display: flex;
                flex-direction: column;
                z-index: 1;

                &-item {
                  padding: 10px 15px;
                  transition: 0.2s;

                  &:hover {
                    background-color: #140f30e5;
                  }
                }
              }
            }

            //general visibility
            button {
              box-sizing: content-box;
              font-family: "Lato", sans-serif;
              border-radius: 8px;
              border: none;
              background-color: #fff;
              color: #ccc;

              cursor: pointer;
              transition: 0.2s;
            }

            .selectors__region {
              margin: 0 auto;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 5px;

              &-description {
                color: #ccc;
              }

              &__button-box {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 5px;

                @media screen and (max-width: 1080px) {
                  gap: 2px;
                }

                button {
                  width: auto;
                  padding: 10px;
                  height: 30px;
                  background: $buttonColor;

                  p {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                }
              }

              @media screen and (max-width: 670px) {
                max-width: 310px;
              }
            }

            .selectors__colors {
              margin: 0 auto;
              display: flex;
              flex-direction: column;
              gap: 15px;

              &-description {
                @include description-center;
                color: #ccc;
              }

              &__button-box {
                display: grid;
                padding: 10px 0;
                background-color: $buttonColor;
                border-radius: 25px;
                width: 215px;
                height: 190px;
                grid-template: repeat(3, 1fr) / repeat(3, 1fr);
                justify-content: center;
                align-items: center;
                border: 3px solid $buttonColor;

                button {
                  width: 50px;
                  height: 50px;
                  margin: 0 auto;
                  border-radius: 50%;
                  transition: 0.3s;
                  box-shadow: inset 0 0 5px 0px rgb(0, 0, 0);

                  img {
                    position: relative;
                    top: 10px;
                    left: 5px;
                    width: 16px;
                    height: 16px;
                    scale: 0;
                    transition: 0.3s;
                  }

                  &.active {
                    img {
                      scale: 1;
                    }
                  }
                }

                button.white {
                  background-color: white;
                }

                button.black {
                  background-color: black;
                }

                button.red {
                  background-color: red;
                }

                button.claret {
                  background-color: #8a113b;
                }

                button.yellow {
                  background-color: #fbcb29;
                }

                button.blue {
                  background-color: #7ab2dc;
                }

                button.navyblue {
                  background-color: #092168;
                }

                button.green {
                  background-color: #1b9c3e;
                }

                button.orange {
                  background-color: #e67e22;
                }
              }

              @media screen and (max-width: 320px) {
                &__button-box {
                  width: 200px;
                  height: 170px;

                  button {
                    height: 40px;
                    width: 40px;
                  }
                }
              }
            }

            .selectors__shapes {
              margin: 0 auto;

              &-description {
                @include description-center;
                color: #ccc;
              }

              &__showhide {
                position: relative;
                margin: 0 auto 0;
                width: 180px;
                height: 25px;
                padding: 3px 0 2px;
                background-color: $buttonColor;
                text-align: center;
                font-size: 15px;
                cursor: pointer;
                border-radius: 10px;
                overflow: hidden;
                border: 2px solid $buttonColor;
                transition: 0.5s;
                color: #ccc;

                &:hover {
                  border: 2px solid #919191;
                }

                img {
                  filter: brightness(0) invert(1);
                  height: 10px;
                  margin: 0 5px;
                  transform: rotate(180deg);
                  position: absolute;
                  transform: translateY(0);
                  transition: 1s;
                }

                &.hide {
                  img {
                    transform: rotate(0deg);
                  }

                  &:hover {
                    img {
                      transform: rotate(0deg) translateY(20px);
                    }
                  }
                }

                &.show {
                  img {
                    transform: rotate(180deg);
                  }

                  &:hover {
                    img {
                      transform: rotate(180deg) translateY(20px);
                    }
                  }
                }
              }

              &__button-box {
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;
                overflow: hidden;
                transition: 1s;

                &.inactive {
                  height: 0;
                  width: 250px;
                }

                &.active {
                  height: 240px;
                  margin-bottom: 10px;
                  width: 250px;
                }

                button {
                  box-sizing: border-box;
                  width: 60px;
                  height: 40px;
                  background: $buttonColor;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 2px solid $buttonColor;

                  img {
                    filter: brightness(0) invert(1);
                    height: 25px;
                  }

                  @mixin img($px) {
                    img {
                      height: $px;
                      width: auto;
                    }
                  }

                  &:hover {
                    border: 2px solid white;
                  }

                  &.active {
                    border: 2px solid white;
                  }

                  &.vertical {
                    @include stripeGradient($deg: 90deg);
                  }

                  &.horizontal {
                    @include stripeGradient;
                  }

                  &.diagonal {
                    @include stripeGradient($deg: 135deg);
                  }

                  &.triangle,
                  &.star {
                    @include img(20px);
                  }

                  &.emblem,
                  &.sun,
                  &.moon,
                  &.animal {
                    @include img(30px);
                  }
                }
              }
            }

            .selectors__other {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-evenly;
              gap: 10px;

              button {
                box-sizing: border-box;
                display: inline-block;
                outline: 0;
                cursor: pointer;
                background: $buttonColor;
                font-size: 18px;
                height: 43px;
                padding: 0 10px;

                border: 3px solid $buttonColor;
                transition: 0.3s;

                &:hover {
                  border: 3px groove white;
                }

                &.active {
                  border: 3px groove white;
                }

                @media screen and (max-width: 1080px) {
                  &.other.countries {
                    font-size: 17px;
                  }
                }
              }
            }
          }
        }
      }

      .main-list {
        width: 70%;
        height: 100%;

        @media screen and (max-width: 670px) {
          width: 100%;
          height: auto;
        }

        &__full-list {
          margin: 0 auto;
          max-width: 1024px;
          padding: 20px;
          overflow-y: auto;
          gap: 10px;
          height: auto;
          justify-content: space-between;
          max-height: 100%;
          display: grid;
          grid-template-columns: repeat(6, 1fr);

          @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(5, 1fr);
          }

          @media screen and (max-width: 910px) {
            gap: 5px;
          }

          @media screen and (max-width: 890px) {
            grid-template-columns: repeat(4, 1fr);
          }

          @media screen and (max-width: 800px) {
            grid-template-columns: repeat(3, 1fr);
          }

          @media screen and (max-width: 670px) {
            grid-template-columns: repeat(5, 1fr);
            padding-top: 40px;
            width: 100%;
          }

          @media screen and (max-width: 590px) {
            grid-template-columns: repeat(4, 1fr);
          }

          @media screen and (max-width: 485px) {
            grid-template-columns: repeat(3, 1fr);
          }

          @media screen and (max-width: 300px) {
            grid-template-columns: repeat(2, 1fr);
          }

          .full-list__preloader-box {
            height: 200px;
            width: 100%;
            grid-column: 1 / -1;

            &-preloader {
              margin: 80px auto 0;
              font-size: 70px;
              width: 1em;
              height: 1em;
              border-radius: 50%;
              animation: animation 1.7s infinite ease;

              @keyframes animation {
                0% {
                  transform: rotate(0deg);
                  box-shadow: 0 -0.83em 0 -0.4em #f34a53,
                    0 -0.83em 0 -0.42em #f34a53, 0 -0.83em 0 -0.44em #f34a53,
                    0 -0.83em 0 -0.46em #f34a53, 0 -0.83em 0 -0.477em #f34a53;
                }

                5%,
                95% {
                  box-shadow: 0 -0.83em 0 -0.4em #f34a53,
                    0 -0.83em 0 -0.42em #f34a53, 0 -0.83em 0 -0.44em #f34a53,
                    0 -0.83em 0 -0.46em #f34a53, 0 -0.83em 0 -0.477em #f34a53;
                }

                10%,
                59% {
                  box-shadow: 0 -0.83em 0 -0.4em #f34a53,
                    -0.087em -0.825em 0 -0.42em #f34a53,
                    -0.173em -0.812em 0 -0.44em #f34a53,
                    -0.256em -0.789em 0 -0.46em #f34a53,
                    -0.297em -0.775em 0 -0.477em #f34a53;
                }

                20% {
                  box-shadow: 0 -0.83em 0 -0.4em #f34a53,
                    -0.338em -0.758em 0 -0.42em #f34a53,
                    -0.555em -0.617em 0 -0.44em #f34a53,
                    -0.671em -0.488em 0 -0.46em #f34a53,
                    -0.749em -0.34em 0 -0.477em #f34a53;
                }

                38% {
                  box-shadow: 0 -0.83em 0 -0.4em #f34a53,
                    -0.377em -0.74em 0 -0.42em #f34a53,
                    -0.645em -0.522em 0 -0.44em #f34a53,
                    -0.775em -0.297em 0 -0.46em #f34a53,
                    -0.82em -0.09em 0 -0.477em #f34a53;
                }

                100% {
                  transform: rotate(360deg);
                  box-shadow: 0 -0.83em 0 -0.4em #f34a53,
                    0 -0.83em 0 -0.42em #f34a53, 0 -0.83em 0 -0.44em #f34a53,
                    0 -0.83em 0 -0.46em #f34a53, 0 -0.83em 0 -0.477em #f34a53;
                }
              }
            }
          }

          .smallitem {
            margin: 0 auto;
            display: block;
            max-width: 100px;
            max-height: 50px;
            // border: 3px groove black;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              filter: brightness(50%);
            }

            &.active {
              filter: brightness(50%);
            }

            @media screen and (max-width: 370px) {
              max-width: 80px;
              max-height: 40px;
            }
          }
        }

        .main__select-box__selectors {
          justify-content: space-evenly;
          margin-top: 40px;
          padding-bottom: 40px;
          overflow-y: auto;

          @media screen and (max-height: 725px) {
            justify-content: flex-start;
          }
        }
      }
    }
    .main-game {
      height: 80%;
      width: 80%;
      min-width: 250px;
      margin: 15px auto 0;
      text-align: center;
    }
  }
}
